* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    box-sizing: border-box;
    background: #f6f8f9;
    font-family: Aril, Tahoma, sans-serif ;
    color: #43525d;
}

p {
    margin: 0;
}

h1 {

}

h3 {
    margin: 20px 0;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

h3 span {
    color: #ff7013;
}

.section-description {
    text-align: center;
    margin: 80px 0;
}

.container {
    width: 1200px;
    margin: 10px auto; 
}

.row {
    margin: 0 -1.25%;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}

.goods-cards {
    width: 250px;
    height: 365px;
    margin: 0 15px 0 15px;
    background: #fff;
    float: left;
    text-align: center;
    font-size: 18px;
}

.goods-cards img {
    margin-top: 30px;
}

.goods-cards .goods-name {
    background: #43525d;
    color: #efe710;
    margin: 0 0 30px 0;
}

.goods-cards .cost {
    color: #ff7013;
}

.block-sale {
    width: 50%;
    min-height: 100px;
    margin-top: 50%;
    margin-left: 15px;
    background: #fff;
    border: 1px solid #eaedef;
    /* margin: 0 -2%; */
}

.block-sale .sale {
    width: 25%;
    margin: 0 2%;
    float: left;
}

.sale-img {
    width: 80px;
    height: 80px;
    background-image: url(../../img/sale_img.png);
    margin: 6% auto;
    text-align: center;
}

.sale-img span{
    font-style: italic;
    font-size: 17px;
    color: #fff;
    padding-top: 18px;
    display: block;
}

.sale-img p {
    font-size: 18px;
    color: #fff;
}

.block-sale .slogan {
    width: 40%;
    float: left;
    margin: 0 2%;
    text-align: left;
    min-height: 100px;
}

.block-sale .slogan::after {
    content: "";
    width: 1px;
    height: 45px;
    display: block;
    background: #f5f5f6;
    position: absolute;
    right: 300px;
    top: 791px;
}

.block-sale .slogan h3 {
    color: #43525d;
    font-size: 22px;
    margin: 0;
    padding-top: 18px;
    text-align: left;
}
.block-sale .slogan p {
    color: #43525d;
    font-size: 12px;
    margin: 10px;
}

.block-sale .sale-price {
    width: 23%;
    min-height: 100px;
    float: left;
    margin: 0 2%;
    color: #ff5912;
    font-size: 24px;
    line-height: 100px;
    text-align: center;
}

.block-sale .sale-price p::before {
    content: "";
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 20px;
    background-image: url(../../img/card_plus.png);

}

/*-------------- header --------------- */
.site-header {
    min-height: 180px;
    background: #fff;
}

.site-header a {
    color: #34404b; 
    text-decoration: none;
}

.header-line {
    min-height: 60px;
    border-bottom: 1px solid #edeff1;
}

.main-logo {
    margin-top: 30px;
}

.main-nav ul::after {
    contain: "";
    display: block;
    clear: both;
}

.main-nav li {
    float: left;
    list-style: none;
    margin: 10px;
    margin: 22px 15px;
}

.main-nav .activ a {
     color: #ff5912;
}

.ico-line {
    margin-top: 38px; 
}

.ico-line img {
    margin: 0 12px;
}

.cart-cout {
    /* display: inline-block; */
    position: relative;
}

.cart-cout::after {
    content: "6";
    display: block;
    width: 16px;
    height: 16px;
    background: #34404b;
    position: absolute;
    top: -18px;
    left: 16px;
    border-radius: 100%;
    color: #fff;
    font-size: 11px;
    text-align: center; 
}

/*-------------- header --------------- */

/* -------------footer_block------------ */

.site-footer {
    background: #fff;
    padding: 60px 0 44px 0;
    font-size: 14px;
    color: #28313b;
}
.site-footer h1, .site-footer h2, .site-footer h3, .site-footer h4 {
    font-size: 16px;
    color: #ff5912;
}

.block-370 {
    width: 30.8333%;
    min-height: 100px;
    float: left;
    margin: 1.25%
}

.block-170 {
    width:  14.16666%;
    min-height: 100px;
    float: left;
    margin: 1.25%;
}
.block-770 {
    width:  64.1666%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}

.copyright {
    margin-top: 20px;
}

ul.footer-nav a{
    color: #28313b;
    text-decoration: none;
}
ul.footer-nav a:hover {
    color: #ff5912;
}
ul.footer-nav .active {
    color: #ff5912;
}

ul.footer-nav li {
    margin: 10px;
}

.payment-img {
    width: 25px;
    height: 17px;
    background-image: url('../../img/payment_bg.png');
    display: inline-block;
}

.mix {
    background-position: -1px -1px; 
}

.cart {
    background-position: -36px -1px;
}
.visa {
    background-position: -82px -1px;
}
.master-cart {
    background-position: -108px -1px;
}
.grey {
    background-position: -144px -1px;
}