* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    box-sizing: border-box;
    background: #f6f8f9;
    font-family: Aril, Tahoma, sans-serif ;
    color: #43525d;
}

p {
    margin: 0;
}

h1 {

}

h3 {
    margin: 20px 0;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

h3 span {
    color: #ff7013;
}

.section-description {
    text-align: center;
    margin: 80px 0;
}

.container {
    width: 1200px;
    margin: 10px auto; 
}

.goods-cards {
    width: 250px;
    height: 365px;
    margin: 0 15px 0 15px;
    background: #fff;
    float: left;
    text-align: center;
    font-size: 18px;
}

.goods-cards img {
    margin-top: 30px;
}

.goods-cards .goods-name {
    background: #43525d;
    color: #efe710;
    margin: 0 0 30px 0;
}

.goods-cards .cost {
    color: #ff7013;
}

.block-sale {
    width: 50%;
    min-height: 100px;
    margin-top: 50%;
    margin-left: 15px;
    background: #fff;
    border: 1px solid #eaedef;
    /* margin: 0 -2%; */
}

.block-sale .sale {
    width: 25%;
    margin: 0 2%;
    float: left;
}

.sale-img {
    width: 80px;
    height: 80px;
    background-image: url(../../img/sale_img.png);
    margin: 6% auto;
    text-align: center;
}

.sale-img span{
    font-style: italic;
    font-size: 17px;
    color: #fff;
    padding-top: 18px;
    display: block;
}

.sale-img p {
    font-size: 18px;
    color: #fff;
}

.block-sale .slogan {
    width: 40%;
    float: left;
    margin: 0 2%;
    text-align: left;
    min-height: 100px;
}

.block-sale .slogan::after {
    content: "";
    width: 1px;
    height: 45px;
    display: block;
    background: #f5f5f6;
    position: absolute;
    right: 300px;
    top: 791px;
}

.block-sale .slogan h3 {
    color: #43525d;
    font-size: 22px;
    margin: 0;
    padding-top: 18px;
    text-align: left;
}
.block-sale .slogan p {
    color: #43525d;
    font-size: 12px;
    margin: 10px;
}

.block-sale .sale-price {
    width: 23%;
    min-height: 100px;
    float: left;
    margin: 0 2%;
    color: #ff5912;
    font-size: 24px;
    line-height: 100px;
    text-align: center;
}

.block-sale .sale-price p::before {
    content: "";
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 20px;
    background-image: url(../../img/card_plus.png);

}